
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/style_common_header.css">
	<link rel="stylesheet" href="/css/style_base.css">
	<link rel="stylesheet" href="/css/style_cert.css">
	<link rel="stylesheet" href="/css/style_contact.css">
<title>Md. Anisur Rahman's Portfolio Website</title>

</head>
<body>
<%- include('partials/header') %>


<section class="contact-banner section_gap">
<div class="banner-content">
<h1>Contact with Me</h1>

<p>
I am a DevSecOps Engineer specializing in CI/CD automation, cloud infrastructure,
        container orchestration, and secure system design. I am open to job opportunities,
        freelance work, and collaboration.
</p>

</div>
</section>

 <section section_gap"></section>
<div class="card">
        <div class="label">Email</div>
        <div class="value">anisur81@gmail.com</div>
    </div>
</section>

<section section_gap"> 
<div class="card">
        <div class="label">Phone</div>
        <div class="value">+880 1971334239</div>
    </div>
    </section>
<section section_gap"> 
    <div class="card">
        <div class="label">Location</div>
        <div class="value">Dhaka, Bangladesh</div>
    </div>
    </section>
<section section_gap">
    <div class="card">
        <div class="label">LinkedIn</div>
        <div class="value"><a href="https://www.linkedin.com/in/anisur-rahman-cisa" target="_blank" rel="noopener noreferrer">www.linkedin.com/in/anisur-rahman-cisa</a></div>
    </div>
    </section>
<section section_gap"> 
    <div class="card">
        <div class="label">GitHub</div>
        <div class="value"><a href="https://github.com/anisur81" target="_blank" rel="noopener noreferrer">github.com/yourname</a></div>
    </div>
    </section>
<section section_gap">
    <div class="card">
        <div class="label">Availability</div>
        <div class="value">Open to Work (Full-time / Freelance / Remote)</div>
    </div>
    </section>
<section section_gap">
     <div class="card">
   <div class="label">Note:</div>        
    <div class="value">I usually respond within 24 hours for professional inquiries.</div>
    </div>
        </section>



<h1>Contact Request List</h1>

<a href="/add">Add Contact Request</a>

<table border="1">

<tr>
    <th>ID</th>
    <th>Organization Name</th>
    <th>Phone No:</th>
    <th>Email</th>
	<th>address</th>
    <th>Commnet</th>
</tr>

<% home_contactreq.forEach(conreq => { %>

<tr>
    <td><%= conreq.id %></td>
    <td><%= conreq.orgtitle %></td>
    <td><%= conreq.phoneno %></td>
    <td><%= conreq.email %></td>
	<td><%= conreq.address %></td>
    <td><%= conreq.comment %></td>
	<td>
            <a href="/edit/<%= conreq.id %>">Edit</a>
            |
            <a href="/delete/<%= conreq.id %>"
               onclick="return confirm('Delete record?')">
               Delete
            </a>
        </td>
</tr>

<% }) %>

</table>

		<footer>
    © 2026 Md. Anisur Rahman's DevSecOps Portfolio Website
</footer>
</body>
</html>